    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        outline: none;
        border: none;
    }
    a{
        color: #000000;
        text-decoration: none;
    }
    .container-fluid{
        width: 100%;
    }
/* All Comman Css End Here */

/* Goggle font Start Here */
    @font-face {
        font-family: Lato;
        src: url("./goggle-font/Lato/Lato-Regular.ttf");
    }
/* Goggle font End Here */


/* All Section Css Start Here */
    /* Header Css Start Here */
        header{
            width: 100%;
            padding: 40px 0;
            filter: drop-shadow(0px 2px 2.5px rgba(0,0,0,0.07));
            background-color: #e8ebf1;
            border: 1px solid rgba(0,0,0,0.15);
            display: flex;
            align-items: center;
        }
        .container{
            width: 100%;
            padding: 0px 10px;
        }
        .top-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .logo{
            font-size: 18px;
            line-height: 20px;
            color: #000000;
            font-weight: 900;
            font-family: Lato;
        }
        .logo span{
            font-weight: lighter;
            color: skyblue;
        }
        .top-nav-link{
            display: none;
            list-style: none;
        }
        .top-nav-link li a{
            font-size: 13px;
            line-height: 20px;
            color: #000000;
            font-weight: bold;
            font-family: Arial;
            padding: 10px 10px;
            text-transform: uppercase;
        }
        .top-nav-link li a:hover{
            padding: 10px 10px;
            color: #2AACC8;
            background-color: rgb(255, 255, 255);
            border-top: 5px solid #2AACC8;
        }
        .fa-angle-down{
            margin-left: 5px;
        }
        .mobile-icon{
            display: block;
            font-size: 20px;
            cursor: pointer;
        }   
        .slider-one{
            display: flex;
            align-items: center;
            background-color: #2AACC8;
            padding-top: 20px;
        }
        .hero-slide-img{
            width: 100%;
        }
        .hero-slide-info{
            position: absolute;
            top: 80px;
            left: 120px;
            width: 260px;
            font-size: 28px;
            color: white;
            font-family: Lato;
        }
        .hero-slide-tittle{
            font-size: 28px;
            color: #ffffff;
            font-weight: 700;
            font-family: Lato;
        }
    /* Header Css Start Here */

    /* Fourth White Container Css Start Here */
        .leatest-work{
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #dfe1e5;
        }
        .section-header{
            display: flex;
            align-items: center;
            padding: 20px 0;
        }
        .section-heading{
            font-size: 20px;
            line-height: 26px;
            color: black;
            font-weight: bold;
            font-family: Arial;
            padding-left: 15px;
        }
        .white-container{
            background-color: white;
            padding-bottom: 20px;
        }
        .secound-slider-wrpper{
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            padding-bottom: 15px;
            border-bottom: 1px solid #dfe1e5;
        }
        .hero-slide-img-wrpper{
            position: relative;
        }
        /* Secound Slider css Start Here  */
        .leatest-work{
            position: relative;
        }
        .slick-prev:before {
            content: '←';
            color: black;
            background-color:#25B8F2;
            padding: 5px;
            border-radius: 50px;
            position: absolute;
        }
        .slick-next:before {
            content: '›';
            color: black;
            background-color:#25B8F2;
            padding: 5px;
            border-radius: 50px;
            position: absolute;
        }
        #slider-img {
            width: 100%;
            cursor: pointer;
        }
        .slide{
            position: relative;
        }
        .slide-hover-info{
            width: 100%;
            height: 50%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            background-color: #2AACC8;
            position: absolute;
            top: 50%;
            left:0 ;
            display: none;
        }
        .slide:hover .slide-hover-info{
            display: flex;
        }
        /* Secound Slider css Start Here  */

        .brand-line-one{
            display: flex;
        }
        .brand-line-one img{
            width: 210px;
        }
        .latest-work-slider{ 
            overflow: hidden;
        }
        /* Testimonial and Client Section Start Here */
        .testimonial-client-header{
            display: flex;
            align-items: center;
            padding: 15px 0;
        }
        .testimonial-client-heading{
            font-size: 18px;
            line-height: 26px;
            color: #000000;
            font-weight: bold;
            font-family: Arial;
            text-transform: uppercase;
            padding-left: 15px;
        }
        .testimonial-p{
            width: 100%;
            font-size: 16px;
            line-height: 24px;
            color: #363636;
            font-family: Arial;
        }
        
        .reviewer{
            font-size: 16px;
            line-height: 24px;
            font-weight: 600;
            font-family: Arial;
            margin-top: 20px;
        }
        /* Testimonial and Client Section End Here */
        
        /* Blue Container Css start Here */
        .blue-container{
            margin-top: 20px;
            background-color: #e8fcfe;
            border: 1px solid #81e4ed;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding: 38px 20px;
        }
        .blue-paragraph{
            width: 100%;;
            font-size: 16px;
            line-height: 26px;
            color: #363636;
            font-family: Arial;
        }
        .download-btn{
            font-size: 18px;
            line-height: 20px;
            color: #0d0707;
            font-weight: bold;
            font-family: Arial;
            margin-top: 20px;
            cursor: pointer;
            padding: 20px 15px;
            border-radius: 8px;
            filter: drop-shadow(0px 2px 1.5px rgba(0,0,0,0.2));
            background-image: linear-gradient(0deg, #29abc7 0%, #5fcddd 15%, #71d9e5 50%, #81e3ed 100%);
            border: 1px solid #2aacc8;
        }
        .download-btn a img{
            margin-right: 15px;
        }
        .download-btn a{
            display: flex;
            align-items: center;
        }
        /* Blue Container Css start Here */
        
    /* Fourth White Container Css Start Here */

    /* Footer Css Start Here */
        footer{
            padding: 40px 0px 0px 0px;
            background-color: #e8ebf1;
            border: 1px solid rgba(0,0,0,0.15);
        }
        .footer-text{
            font-size: 16px;
            line-height: 21px;
            color: #363636;
            font-weight: 500;
            font-family: Arial;
        }
        .footer-section-header{
            font-size: 15px;
            line-height: 20px;
            font-weight: 100;
            text-transform: uppercase;
            text-align: start;
            font-family: Arial;
            padding-bottom: 10px;
        }
        .footer-section-heading{
            font-weight: 600;
            font-size: 16px;
            line-height: 21px;
            font-family: Arial;
        }
        .footer-about-p{
            font-size: 1px;
            line-height: 20px;
            width: 100%;
            color: #363636;
        }
        .footer-link{
            list-style: none;
        }
        .footer-link li a:hover{
            color: #29ABC7;
        }
        .footer-logo span{
            color: #29ABC7;
        }
        address{
            font-style: normal;
            font-family: Arial;
        }
        address h5{
            font-size: 16px;
            line-height: 24px;
            color: #363636;
            font-weight: 700;
        }
        .footer-call-fax-div{
            margin-top: 15px;
        }
        .footer-call-fax-div a{
            color: #363636;
        }
        .footer-call-fax-div a:hover{
            color: #29ABC7;
        }
        .social-link-heading{
            margin-left: 5px;
        }
        .footer-social-link-a i{
            font-size: 45px;
        }
        .footer-social-link-a{
            font-size: 15px;
            padding: 5px 0px;
        }
        .footer-social-link-a .fa-facebook-f, .fa-share-nodes, .fa-skype, .fa-linkedin-in, .fa-pinterest, .fa-dribbble{
            font-size: 20px;
            padding: 5px 6px;
            color: white;
            border-radius: 50%;
            border: 4px solid white;
            box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
        }
        .footer-social-link-a .fa-facebook-f{
            background-color: #3B5998;
            padding: 7px 10px;
        }
        .fa-linkedin-in{
            padding: 7px 8px;
        }
        .footer-social-link-a .fa-pinterest{
            background-color: #E73F76;
            padding: 7px 8px;
        }
        .footer-social-link-a .fa-dribbble{
            background-color: #CA1E25;
            padding: 7px 8px;
        }
        .footer-social-link-a .fa-linkedin-in{
            background-color: #3299CC;
        }
        .footer-social-link-a .fa-skype{
            background-color: #25B8F2;
            padding: 7px 8px;
        }
        .footer-social-link-a .fa-share-nodes{
            background-color: #21A61B;
            padding: 7px 8px;
        }
        .footer-social-link-a .fa-facebook-f:hover, .footer-social-link-a .fa-pinterest:hover, .footer-social-link-a .fa-dribbble:hover, .footer-social-link-a .fa-linkedin-in:hover, .footer-social-link-a .fa-skype:hover, .footer-social-link-a .fa-share-nodes:hover{
            background-color: #29ABC7;
            box-shadow: 0px 2px 10px rgba(0,0,0,0.7);
        }
        .footer-social-link-wrapper{
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        .footer-social-secound-line{
            margin-top: 20px;
        }
        .footer-social-link-wrapper > div{
            font-size: 15px;
            margin-right: 10px;
        }
        .footer-first-line{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-top: 20px;
        }
        .fa-angle-right{
            margin-right: 5px;
        }
    /* Footer Css End Here */
    .slick-dots li.slick-active button:before {
        opacity: .75;
        color: white;
    }
/* All Section Css End Here */

/* All Device Media Quries Start Here */
    @media screen and (min-width:320px){
        .hero-slide-info{
            width: 120px;
            position: absolute;
            top: 30px;
            left: 20px;
        }
        .hero-slide-tittle{
            font-size: 18px;
        }
        .slide-info{
            top: 30px;
            width: 110px;
            font-size: 18px;   
        }
        /* Secound Gray Container  Css Start Here */
        .gray-container{
            display: flex;
            align-items: center;
            filter: drop-shadow(0px -2px 2.5px rgba(0,0,0,0.07));
            background-color: #e8ebf1;
            border: 1px solid rgba(0,0,0,0.15);
            padding: 45px 0 40px 0;
        }
        .secound-wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: nowrap;
        }
        .title{
            display: flex;
            align-items: center;
        }
        .title .title-heading{
            font-size: 16px;
            line-height: 24px;
            color: #000000;
            font-weight: bold;
            font-family: Arial;
            margin-left: 20px;
        }
        .secound-container-info p{
            font-size: 14px;
            line-height: 21px;
            color: #363636;
            font-family: Arial;
            margin-top: 5px;
        }
        .secound-container-info .secound-container-info-a{
            font-size: 16px;
            line-height: 24px;
            color: #51B9D0;
            margin-top: 10px;
            display: inline-block;
        }
        .secound-container-info .secound-container-info-a .fa-angle-right{
            color: black;
        }
        .resposive-design, .full-psd, .coding{
            margin-top: 35px;
        }  
        /* Secound Gray Container Css Start Here */

        /* Fourth White Container Css Start Here */
        .download-btn img{
            margin-right: 10px;
        }
        .brand-line-one{
            display: flex;
            flex-direction: column;
        }
        .slick-prev:before {
            position: absolute;
            top: -150px;
            left: 250px;
            padding: 2px;
            z-index: 99;
        }
        .slick-next:before {
            content: '›';
            background-color:#25B8F2;
            padding: 2px;
            border-radius: 50px;
            position: absolute;
            top: -170px;
            right: 40px;
        }
        #slider-img {
            width: 300px;
            cursor: pointer;
            height: 150px;
        }
        .testimonial-client-wrapper{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .testimonial-client-header{
            display: flex;
            align-items: center;
        }
        .brand-line{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            /* justify-content: flex-start; */
        }
        .brand-line img{
            width: 100%;
        } 
        .cox-outer{
            flex-basis: 50%;
        }
        .cnn-outer{
            flex-basis: 50%;
        }
        .finder-outer{
            flex-basis: 50%;
        }
        .John-outer{
            flex-basis: 50%;
        }
        .boat-outer{
            flex-basis: 50%;
        }
        .fujiflim-outer{
            flex-basis: 50%;
        }
        .client{
            margin-top: 25px;
        }
        .John-outer, .boat-outer{
            margin-top: -6px;
        }
        .fujiflim-outer, .finder-outer{
            margin-top: -7px;
        }
        /* Fourth White Container Css End Here */

        /* Footer Media Quries Start Here */
        footer{
            padding: 30px 0px 0px 0px;
        }
        .footer-first-line{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            padding-top: 20px;
        }
        .footer-nav-link-li{
            margin-top: 10px;
        }
        .footer-about-p{
            font-size: 16px;
            line-height: 27px;
        }
        .copywrite-p{
            width: 100%;
            margin-top: 10px;
        }
        .social-link-heading {
            margin-left: 0px;
        }
        .explore, .browse, .contact, .social-link{
            margin-top: 35px;
        }
        .explore{
            flex-basis: 100%;
        }
        .browse{
            flex-basis: 100%;
        }
        .contact{
            flex-basis: 100%;
        }
        .social-link{
            flex-basis: 100%;
        }
        .footer-logo{
            margin-bottom: 6px;
        }
        .footer-last-line{
            display: flex;
            flex-wrap: wrap-reverse;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        /* Footer Media Quries End Here */
    }
    
    @media screen and (min-width:576px){
        .container{
            width: 100%;
        }
        header{
            position: relative;
            z-index: 1;
        }
        .top-nav-link{
            display: none;
            list-style: none;
        }
        .mobile-icon{
            display: block;
        }
        .dropdown{
            position: relative;
        }
        .dropdown-list{
            width: 215px;
            height: auto;
            background-color: white;
            display: none;
            list-style: none;
            position: absolute;
            top: 22px;
            left: 0;
            right: 0;
            box-shadow: 0px 20px px black;
            border-bottom: 5px solid #29ABC7;
        }
        .dropdown:hover .dropdown-list{
            display: block;
        }
        .dropdown-list li{
            padding: 10px 0px;
            border-bottom: 1px solid rgba(124, 123, 123, 0.2);
        }
        .dropdown-list li a{
            font-size: 13px;
            line-height: 13px;
            text-transform: capitalize;
        }
        .dropdown-list li a:hover{
            border: none;
        }
        .hero-slide-info{
            width: 200px;
            position: absolute;
            top: 50px;
            left: 30px;
        }
        .hero-slide-tittle{
            font-size: 34px;
        }
        #slider-img {
            width: 250px;
            cursor: pointer;
            height: 150px;
        }
        .slide-hover-info{
            width: 93.5%;
        }
        .secound-wrapper{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .title .title-heading {
            font-size: 15px;
            line-height: 20px;
        }
        .secound-container-info p {
            font-size: 13px;
            line-height: 20px;
        }
        .resposive-design{
            margin-top: 0px;
        }
        .flex-item{
            width: 250px;
        }
        .boat-outer{
           margin-top: -6px;
        }
        .finder-outer{
            margin-top: -6px;
        }
        .cox-outer{
            margin-top: 0px;
        }
        .cnn-outer{
            margin-top: 0;
        }
        .brand-line{
            flex-direction: row;
            flex-wrap: wrap;
        }
        .finder-outer{
            margin-top: 0px;
        }
        .brand-line img{
            width: 185px;
        } 
        .cox-outer{
            flex-basis: 25%;
        }
        .cnn-outer{
            flex-basis: 25%;
        }
        .finder-outer{
            flex-basis: 25%;
        }
        .John-outer{
            flex-basis: 25%;
        }
        .boat-outer{
            flex-basis: 25%;
        }
        .fujiflim-outer{
            flex-basis: 25%;
        }
       
        /* Footer Media Quries Start Here */
        .footer-first-line{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-top: 0px;
        }
        .footer-social-link-wrapper > div{
            margin-right: 20px;
        }
        .explore{
            flex-basis: 15%;
        }
        .browse{
            flex-basis: 20%;
        }
        .contact{
            flex-basis: 25%;
        }
        .social-link{
            flex-basis: 25%;
        }
        .footer-last-line{
            margin-top: 35px;
        }
        /* Footer Media Quries End Here */
    }

    @media screen and (min-width:768px){
        .hero-slide-info{
            width: 250px;
            position: absolute;
            top: 70px;
            left: 50px;
        }
        .hero-slide-tittle{
            font-size: 38px;
        }
        .container{
            width: 720px;
            margin: 0 auto;
        }   
        .top-nav-link{
            display: flex;
            align-items: center;
        }
        .mobile-icon{
            display: none;
        }
        .logo{
            font-size: 22px;
            line-height: 20px;
        }
        .top-nav-link li a{
            font-size: 13px;
        }
        .dropdown-list li{
            margin: 0px 10px;
        }
        .secound-wrapper{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .flex-item{
            width: 325px;
        }
        #slider-img{
            width: 210px;
        }
        .slide-hover-info{
            width: 89.7%;
        }
        .testimonial-client-wrapper{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .testimonial-p{
            width: 100%;
        }
        .finder-outer{
            margin-top: 0px;
        }
        /* blue container media quries start*/
        .blue-container{
            display: flex;
        }
        .download-btn{
            margin-top: 20px;

        }
        .blue-paragraph{
            width: 100%;
        }
        /* blue container media quries end */

        /* Fourth Container Media Quries Start Here */
        .brand-line img{
            width: 232px;
        }
        /* Fourth Container Media Quries End Here */

        /* Footer Css Start Here */
        .about{
            margin-bottom: 25px;
        }
        .copywrite-p{
            font-size: 13px;
            width: 100%;
        }
        .footer-nav-link-li{
            margin: 10px 0px;
        }
        /* Footer Css End Here */
    }

    @media screen and (min-width:992px){
        .container{
            width: 940px;
            margin: 0 auto;
        }
        .top-nav-link-li{
            margin: 0px 10px;
        }
        .hero-slide-info{
            top:85px;
            left: 60px;
            width: 309px;
            font-size: 620px;
        }
        .hero-slide-tittle{
            font-size: 50px;
        }
        .secound-wrapper{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .flex-item{
            width: 410px;
        }
        .testimonial-p{
            width: 400px;
        }
        .clean-theme{
            margin-top: 0;
        }
        /* Fourth White Container Start Here */
        #slider-img{
            width: 210px;
        }
        .slide-hover-info{
            width: 91.2%;
        }
        .testimonial-client-wrapper{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .testimonial{
            flex-basis: 50%;
        }
        .client{
            margin-top: 0;
            flex-basis: 50%;
        }
        .brand-line{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
        }
        .brand-line img{
            width: 153px;
        }
        .blue-container{
            flex-direction: row;
        }
        .blue-paragraph{
            width: 550px;
        }
        .finder-outer{
            margin-top: 0px;
        }
        .John-outer{
            margin-top: -7px;
        }
        /* Fourth White Container End Here */

        /* Footer Css Start Here */
        .explore, .browse, .contact, .social-link {
            margin-top: 0px;
        }
        .footer-about-p{
            width: 225px;
            color: #363636;
        }
        .about{
            flex-basis: 7%;
        }
        .explore{
            flex-basis: 15%;
        }
        .browse{
            flex-basis: 15%;
        } 
        .contact{
            flex-basis: 15%;
        }
        .social-link{
            flex-basis: 10%;
        }
        .copywrite-p{
            width: 100%;
            margin-top: 0px;
        }
        .download-btn {
            margin-top: 0px;
        }
        /* Footer Css End Here */
    }

    @media screen and (min-width:1280px){
        .container{
            width: 1240px;
            margin: 0 auto;
        }
        .logo{
            font-size: 50px;
        }
        .top-nav-link-li{
            margin: 0px 15px;
        }
        .secound-wrapper{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .flex-item{
            width: 285px;
        }
        .hero-slide-info{
            width: 300px;
            position: absolute;
            top: 130px;
            left: 120px;
        }
        .hero-slide-tittle{
            font-size: 50px;
        }
        .client{
            margin-top: 0px;
        }
        .brand-line img{
            width: 203px;
        }
        /* Secound gray container start here */
        .title .title-heading{
            font-size: 15px;
            line-height: 20px;
        }
        .secound-container-info p {
            font-size: 13px;
            line-height: 20px;
        }
        .secound-container-info .secound-container-info-a {
            font-size: 13px;
            line-height: 20px;
        }
        .fa-angle-right{
            font-size: 12px;
        }
        .resposive-design, .full-psd, .coding {
            margin-top: 0px;
        }
        /* Secound gray container end here */
        /* Fourth Container Media Quries Start Here */
        .secound-container-info .secound-container-info-a{
            margin-top: 15px;
        }
        .section-heading{
            padding-left: 15px;
        }
        .slick-prev:before {
            position: absolute;
            top: -170px;
            left: 1190px;
        }
        .slick-next:before {
            position: absolute;
            top: -170px;
            right: 20px;
        }
        .section-header{
            padding: 18px 0;
        }
        .secound-slider-wrpper{
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            padding-bottom: 34px;
            border-bottom: 1px solid #dfe1e5;
        }
        #slider-img{
            width: 275px;
            height: auto;
        }
        .slide-hover-info{
            width: 90.2%;
        }
        .testimonial-p{
            width: 441px;
        }
        .brand-line-one img, .brand-line-two img {
            width: 210px;
        }
        .blue-paragraph{
            width: 613px;
        }
        .finder-outer{
            margin-top: 0px;
        }
        /* Fourth Container Media Quries End Here */

        /* Footer Media Quries Start Here */
        
        .footer-about-p{
            font-size: 15px;
            line-height: 20px;
            width: 265px;
        }
        .about{
            flex-basis: 25%;
        }
        .explore{
            flex-basis: 15%;
        }
        .browse{
            flex-basis: 15%;
        } 
        .contact{
            flex-basis: 15%;
        }
        .social-link{
            flex-basis: 15%;
        }
        /* Footer Media Quries End Here */
    }

    @media screen and (min-width:1440px){
        .container{
            width: 1280px;
            margin: 0 auto;
        }
        .brand-line img{
            width: 210px;
        }
        .slide-hover-info{
            width: 87.5%;
        }
    }

/* All Device Media Quries End Here */